.table_heading {
    font-size: xx-large;
    background-color: cadetblue;
}

#home_header {
    font-size: 50px;
    background-color: cadetblue;
    font-weight: bold;
}

p {
    font-size: large;
    background-color: lightgray;
}

img {
    width: 100%;
}

table, tr, td, th {
    padding: 5px;
    text-align: left;
    border: 1px solid black;
}

input, form {
    padding: 5px;
    text-align: left;
}

#login_header {
    background-color: cadetblue;
}